#content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.heading {
  color: lightsalmon;
}
.tabs {
  height: 20px;
  width: 20px;
  background-color: red;
  margin: 20px;
}

.container {
  display: flex;
}
