#content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.heading {
  color: lightsalmon;
}
.tabs {
  height: 20px;
  width: 20px;
  background-color: red;
  margin: 20px;
}

.img {
  height: 300px;
  margin-bottom: 30px;
}

.container {
  display: flex;
  margin-top: 20px;
}

.home,
.menu,
.contact {
  height: 30px;
  width: 100px;
  border: 1px solid lightsalmon;
  border-radius: 10px;
  margin-right: 10px;

  padding: 5px;
}

.home::after {
  content: "Home";
}
.menu::after {
  content: "Menu";
}

.contact::after {
  content: "Contact";
}

ul {
  list-style: none;
}
